html body {
    background-color:#111d29; 
}
html body a {
    color:#b1d237 !important;
}

#SIvCob {
    color: #fff !important;
}
#SIvCob a {
    color:#b1d237
}
.srp {
    background-color:#111d29 !important;
}
.sfbg{
    background-color:#111d29 !important;
}
.yg51vc {
    background-color:#111d29 !important;
}
.WE0UJf {
    background-color:#111d29 !important;
}
.gb_oa {
    background-color:#111d29 !important;
}